<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<title>Digi-Live</title>
	<script>
		// Load the Visualization API and the corechart package.
		google.charts.load('current', {'packages':['corechart', 'line']});
	</script>
</head>
<body>

	<!--<div id="chart_1"></div>-->

	<script type="text/javascript">

		function updateChartData(n){
			// Set chart options
			var options = {title : 'Sample Antenna ' + String(n) + ": Spectrum",
						width : 800,
						height : 400,
						hAxis: {
							title : 'Channel',
							viewWindow: {
								min : 0,
								max : 4096
							}
						},
						vAxis: {
							title : 'Power (dB)',
						}
					};

			var req = new XMLHttpRequest;
			req.open("GET", "spectrum/" + String(n))
			req.send()
			req.onreadystatechange = function(){
				if (this.readyState == 4 && this.status == 200){
					var text = this.responseText
					var pol1 = text.split(":")[0]
					var pol2 = text.split(":")[1]
					pol1 = pol1.split("_")
					pol2 = pol2.split("_")

					// Create the data table.
					var data = new google.visualization.DataTable();
					data.addColumn('number', 'Channel')
					data.addColumn('number', 'X-pol');
					data.addColumn('number', 'Y-pol');

					for (var chanidx = 0; chanidx < pol1.length; chanidx++){
						var values = [chanidx, pol1[chanidx] * 1, pol2[chanidx] * 1]
						data.addRow(values)
					}
					// Instantiate and draw our chart, passing in some options.
					window['chart' + String(n)].draw(data, google.charts.Line.convertOptions(options));
				}
			}
		}

		function drawChart(n) {

			var chart = new google.charts.Line(document.getElementById('chart_' + String(n)));
			window['chart' + String(n)] = chart

			updateChartData(n)

		}

		var ndivs = 1

		for (var n = 1; n < ndivs + 1; n++){
			var d = document.createElement('div')
			d.id = 'chart_' + String(n)
			document.body.appendChild(d)
		}

		for (let n = 1; n < ndivs + 1; n++){
			google.charts.setOnLoadCallback(function(){
				drawChart(n + 1 - 1)
			});
		}

		// Set a callback to run when the Google Visualization API is loaded.
	</script>
	
</body>
</html>