<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digi-Live</title>
	<style>
        body{
            background-color: #ddd;
        }
        #banner{
            position: relative;
            width: 100%;
            padding: 1% 0%;
            font-family: Courier;
            font-size: 3vh;
            border: none;
            background-color: #aaf;
            color: #000;
        }

        #time{
            position: relative;
            left: 2%;
        }

        #connstatus{
            position: relative;
            left: 10%;
        }

        #imgdiv{
            position: relative;
            width: 100%;
        }

        .pagebutton{
            position: relative;
            left: 6%;
            padding: 0.2vh 1vh;
            border: none;
            font-family: Courier;
            font-size: 3vh;
            background-color: #bbb;
        }
	</style>
</head>
<body>
    <div id='banner'>
        <span id="time">Latest Pull Time:</span>
        <button class='pagebutton' id='b2' onclick='window.location.href="/1"' >B</button>
        <button class='pagebutton' id='b1' onclick='window.location.href="/2"' >C</button>
        <span id="connstatus">observer$ <span id="statspec" ></span>&nbsp;</span>
    </div>
    <br>
    <span id="imgdiv"></span>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script type="text/javascript">

    var socket = io(window.location.pathname)

    document.getElementById("b" + window.location.pathname.replace("/", "")).style.backgroundColor = "#999"

    var connstat = document.getElementById("connstatus")

    var connstatspec = document.getElementById("statspec")

    function updatePullTime(t){
        document.getElementById("time").textContent = "Latest Pull Time: " + t
    }

    DISCONNECTED = false;

    function checkConnStatus(){
        if (socket.connected === true){
            statspec.style.color = "#0a0"
            statspec.textContent = "CONNECTED"
            if (DISCONNECTED){
                window.location.reload()
            }
        }
        else{
            statspec.style.color = "#a00"
            statspec.textContent = "DISCONNECTED - REFRESH"
            DISCONNECTED = true;
        }
    }
    
    function animateConnStatus(){
        if (!connstat.textContent.includes("_")){
            connstat.innerHTML = connstat.innerHTML.replace("&nbsp;", "")
            connstat.innerHTML += "_"
        }
        else{    
            connstat.innerHTML = connstat.innerHTML.replace("_", "&nbsp;")
        }
    }

    setInterval(animateConnStatus, 700)


    setInterval(checkConnStatus, 5000)

    socket.on("pulltime", function(t){
        //alert("time update " + t)
        updatePullTime(t)
    })

    var timereq = new XMLHttpRequest;
    timereq.open("GET", "/lastpulltime")
    timereq.send()
    timereq.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            updatePullTime(this.responseText)
        }
    }

	var NUM_ANTENNAS = null;
    var ANT_LIST = []
	var whichpage = window.location.pathname.replace("/", "") * 1

	//var START_ANTENNA = 1 + ((whichpage - 1) * 20)
	//var STOP_ANTENNA = ((whichpage) * 20)

    if (whichpage === 1){
        ANT_LIST = [1, 2, 3, 4, 9, 10, 11, 12, 17, 18, 19, 20, 25, 26, 27, 28, 33, 34, 35, 36]
    }
    if (whichpage == 2){
        ANT_LIST = [5, 6, 7, 8, 13, 14, 15, 16, 21, 22, 23, 24, 29, 30, 31, 32, 37, 38, 39, 40]
    }


	var IMAGE_WIDTH = 22.5;
    var IMAGE_HEIGHT = 19;
	var BORDER_WIDTH = 1;

    document.getElementById("imgdiv").style.left = String((100 % IMAGE_WIDTH) / 2) + "%"

	function checkSrc(el){
		var isLoaded = el.complete && el.naturalHeight !== 0;
		if (!isLoaded){
			resetSrc(el)
		}
	}

	function getImage(n){
		return document.getElementById("anttun" + String(n))
	}

	function resetSrc(el){
		var current_src = el.src
		var new_src = current_src.split("?")[0] + "?t=" + new Date().getTime()
		el.src = new_src
		/*setTimeout(function(){
			checkSrc(el)
		}, 200)*/
	}

    function checkImg(n, t = 0){
        if (t > 3){
            return
        }
        var el = getImage(n)
        if (!el.complete || el.naturalHeight === 0){
            resetSrc(el)
            setTimeout(function(){
                checkImg(n, t + 1)
            }, 1000)
        }
        else{
            
        }
    }

	function resetSrcs(n){
		var el = getImage(ANT_LIST[n])
		if (el === null || el === undefined){

		}
		else{
			resetSrc(el)
            checkImg(ANT_LIST[n])
			setTimeout(function(){
				resetSrcs(n + 1)
			}, 100)
		}
	}

    function setSources(){
        for (var i of ANT_LIST){//(var i = START_ANTENNA; i <= STOP_ANTENNA; i++){
            var el = getImage(i)
            el.src = "./images/anttun" + String(i) + ".png?t=" + new Date().getTime()
            el.style.position = "relative"
            el.style.width = "calc(" + String(IMAGE_WIDTH) + "% - " + String(2 * BORDER_WIDTH) + "px)"
            //el.style.height = "calc(" + String(IMAGE_HEIGHT) + "% - " + String(2 * BORDER_WIDTH) + "px)"
            setTimeout(function(){
                checkImg(i)
            }, 1000)
        }
    }

	var req = new XMLHttpRequest;
	req.open("GET", "/totalantennae")
	req.send()
	req.onreadystatechange = function(){
		if (this.readyState == 4 && this.status == 200){
			NUM_ANTENNAS = this.responseText * 1
			//create image elements
            for (var i of ANT_LIST){//(var i = START_ANTENNA; i <= STOP_ANTENNA; i++){
				var el = document.createElement("img")
				el.id = "anttun" + String(i)
				el.style.border = String(BORDER_WIDTH) + "px solid black"
				let n = i;
				el.onclick = function(){
					window.location.href = window.location.origin + "/chart/" + String(n)
				}
				//document.body.appendChild(el)
			    document.getElementById("imgdiv").appendChild(el)
            }

			//set image sources
            setSources()

			setInterval(function(){
				resetSrcs(0)
			}, 20000)
		}
	}
</script>
</html>
