<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digi-Live</title>
	<style>

	</style>
</head>
<body>
</body>
<script type="text/javascript">
	var NUM_ANTENNAS = 6;

	var IMAGE_WIDTH = 50;
	var BORDER_WIDTH = 1;

	function checkSrc(el){
		var isLoaded = el.complete && el.naturalHeight !== 0;
		if (!isLoaded){
			resetSrc(el)
		}
	}

	function getImage(n){
		return document.getElementById("anttun" + String(n))
	}

	function resetSrc(el){
		var current_src = el.src
		var new_src = current_src.split("?")[0] + "?t=" + new Date().getTime()
		el.src = new_src
		setTimeout(function(){
			checkSrc(el)
		}, 200)
	}

	//create image elements
	for (var i = 0; i < NUM_ANTENNAS; i++){
		var el = document.createElement("img")
		el.id = "anttun" + String(i + 1)
		el.style.border = String(BORDER_WIDTH) + "px solid black"
		document.body.appendChild(el)
	}

	var parser = new DOMParser();

	//set image sources
	for (var i = 0; i < NUM_ANTENNAS; i++){
		var el = getImage(i + 1)
		el.src = "images/anttun" + String(i + 1) + ".png?t=" + new Date().getTime()
		el.style.position = "relative"
		el.style.width = "calc(" + String(IMAGE_WIDTH) + "% - " + String(2 * BORDER_WIDTH) + "px)"
	}

	function resetSrcs(){
		for (var i = 0; i < NUM_ANTENNAS; i++){
			var el = getImage(i + 1)
			resetSrc(el)
		}
	}

	setInterval(resetSrcs, 5000)
</script>
</html>